<h2><%= @post1.title %></h2>
<p><%= simple_format(@post1.body) %></p>
<% if @post1.image.url %>
  <p><%= image_tag @post1.image.url, class: "mw-100" %></p>
<% end %>
<p>コメント</p>
<%= form_for([@post1, @post1.comments.build]) do |f| %>
  <p>
    <%= f.text_field :body, placeholder: "コメントを入力してください。", class: "form-control #{@comment.errors.full_messages_for(:body).any? ? 'is-invalid' : ''}" %>
    <% if @comment.errors.full_messages_for(:body).any? %>
      <% @comment.errors.full_messages_for(:body).each do |error| %>
        <div>
          <small class="text-danger font-weight-bold">
            <%= error %>
          </small>
        </div>
      <% end %>
    <% end %>
  </p>
  <p><%= f.submit "コメントする", class: "btn btn-primary" %></p>
<% end %>
<% if @post2.comments.any? %>
<ul class="list-group list-group-flush">
  <% @post2.comments.each do |t| %>
  <li class="list-group-item"><%= t.body %></li>
  <% end %>
</ul>
<% end %>