<h2>編集</h2>
<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "タイトルを入力してください。", class: "form-control #{@post.errors.full_messages_for(:title).any? ? 'is-invalid' : ''}" %>
    <% if @post.errors.full_messages_for(:title).any? %>
      <% @post.errors.full_messages_for(:title).each do |error| %>
        <div>
          <small class="text-danger font-weight-bold">
            <%= error %>
          </small>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :body, "内容" %>
    <%= f.text_area :body, placeholder: "内容を入力してください。", class: "form-control #{@post.errors.full_messages_for(:body).any? ? 'is-invalid' : ''}", size: "20x10" %>
    <% if @post.errors.full_messages_for(:body).any? %>
      <% @post.errors.full_messages_for(:body).each do |error| %>
        <div>
          <small class="text-danger font-weight-bold">
            <%= error %>
          </small>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :image, "画像" %>
    <p><%= image_tag @post.image.url, class: "mw-100" %></p>
    <%= f.file_field :image, class: "form-control-file" %>
    <%= f.hidden_field :image_cache %>
    <% if @post.errors.full_messages_for(:image).any? %>
      <% @post.errors.full_messages_for(:image).each do |error| %>
        <div>
          <small class="text-danger font-weight-bold">
            <%= error %>
          </small>
        </div>
      <% end %>
    <% end %>
　 </div>
  <div class="form-group">
    <%= f.submit "更新する", class: "btn btn-primary" %>
　</div>
<% end %>
