<h2>新規作成</h2>
<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "タイトルを入力してください。", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "内容" %>
    <%= f.text_area :body, placeholder: "内容を入力してください。", class: "form-control", size: "20x10" %>
  </div>
  <div class="form-group">
    <%= f.label :image, "画像" %>
    <%= f.file_field :image, class: "form-control-file" %>
　 </div>
  <div class="form-group">
    <%= f.submit "投稿する", class: "btn btn-primary" %>
　</div>
<% end %>