<p><%= @post1.title %></p>
<p><%= simple_format(@post1.body) %></p>
<p>コメント</p>
<%= form_for([@post1, @post1.comments.build]) do |f| %>
  <p><%= f.text_field :body, placeholder: "コメントを入力してください。" %></p>
  <p><%= f.submit "コメントする" %></p>
<% end %>
<% if @post2.comments.any? %>
<ul>
<% @post2.comments.each do |t| %>
<li><%= t.body %><%= link_to "削除する", post_comment_path(@post2, t), method: :delete, data: { confirm: "本当に削除しますか?" }  %></li>
<% end %>
</ul>
<% end %>
